[run]
branch = True
command_line = -m pytest
omit =
    */migrations/*
    */settings.py
    */__init__.py
    manage.py
    */tests/*


[report]
ignore_errors = True
precision = 2

[html]
directory = ./tests/coverage_report
title = Coverage Report - Week 9 Assignment
