[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
psycopg2 = "*"
alembic = "*"
pydantic = {extras = ["email"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
typer = {extras = ["all"], version = "*"}
faker = "*"
requests = "*"
pytest = "*"
setuptools = "*"

[dev-packages]
coverage = "*"
flake8 = "*"

[requires]
python_version = "3.10"
